<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
<head>
    <meta charset="utf-8">
    <title>Test</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
        {% include "@SuluWebsite/Extension/seo.html.twig" with {
            "seo": extension.seo|default([]),
            "content": content|default([]),
            "localizations": localizations|default([]),
            "shadowBaseLocale": shadowBaseLocale|default(),
        } %}
    {% endblock %}

    {% block style %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
    <header class="">
        {% block header %}
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="container">
                <div id="mainNavbar" class="navbar-menu">
                    <div class="navbar-start">
                        <a  href="{{ sulu_content_root_path() }}" class="navbar-item">
                            Homepage
                        </a>
                        {% for item in sulu_navigation_root_tree('main') %}

                                <a class="navbar-item" href="{{ sulu_content_path(item.url, item.webspaceKey) }}"
                                   title="{{ item.title }}">{{ item.title }}</a>

                        {% endfor %}
                    </div>
                </div>
                </div>
            </nav>
        {% endblock %}
    </header>


    <main>
        <div class="section">
            <div class="container">
                {% block content %}{% endblock %}
            </div>

        </div>

    </main>



    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>
</html>
